.tabs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.tabs li {
  padding: 10px;
  background-color: #f6f4f4;
  cursor: pointer;
  border-right: 2px solid #fff;
  transition: 0.2s;
}
.tabs li.active,
.tabs li:hover {
  background-color: #ddd;
}
.content {
  background-color: #ddd;
}
.content div {
  padding: 20px;
}
.content div:not(:first-child) {
  display: none;
}
